body { margin: 0; font: 14px/1.5 arial, "Microsoft Yahei" , "Hiragino Sans GB" ,sans-serif; color: #8c8c8c; background-color: #fff; }

img { border: none; }
li { list-style: none; }

/*  topbar   */

.site-topbar { height: 36px; border-bottom: 1px solid #dfdfdf; font-size: 12px; line-height: 36px; color: #8c8c8c; background: #fafafa; vertical-align: middle; }
.container { width: 1240px; margin-left: auto; margin-right: auto; }
.site-topbar .topbar-nav { float: left; _width: 630px; }
.site-topbar a { color: #8c8c8c; cursor: pointer; text-decoration: none; }

.site-topbar a:hover { text-decoration: underline; }

.site-topbar img { position: relative; height: 14px; top: 1px; }
.site-topbar .sep { margin: 0 10px; color: #dfdfdf; }
.site-topbar .topbar-info { position: relative; float: right; _width: 400px; padding-top: 10px; line-height: 1.5; text-align: right; }

.numhid { z-index: 999; position: absolute; width: 100px; top: 37px; display: none; }
/*  topbar  end */

/*  panel   */
.pannel { width: 1240px; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px; }

/*  header   */
.site-header { position: relative; padding-top: 20px; height: 60px; border-bottom: 1px solid #E6E6E6; }
.site-header .site-logo { position: relative; float: left; height: 40px; }
.site-header .site-logo .logo { position: relative; z-index: 5; display: block;  background-repeat: no-repeat; }
.site-header .site-logo .logo img { height: 50px; }


.nav { margin: 10 0 0 0; position: relative; float: right; }
.nav ul { margin: 0px; }
.nav ul li { float: left; padding: 0 20px; line-height: 60px; font-size: 16px; }
.nav ul li:hover { border-bottom: 5px solid #3d62ad; height: 55px; }
.nav ul li a { text-decoration: none; color: #383838; line-height: 40px; height: 40px; padding-top: 20px; }


/* 面包屑 css */


.home-star-goods { margin-top: 20px; background-color: #fafafa; }
.xm-plain-box .box-hd { position: relative; height: 50px; }

.xm-recommend-page { width: 60px; margin: 20px 0 0; }


.box-nav { height: 30px; width: 300px; display: inline; line-height: 30px; }
.box-nav a, .box-nav span { margin-right: 10px; margin-left: 5px; line-height: 30px; text-decoration: none; font-size: 12px; color: #8c8c8c; }
.box-nav a:hover { color: #92A9D9; }


.category { height: 30px; display: inline; float: right; line-height: 30px; margin-right: 10px; }
.category a, .category span { margin-right: 30px; line-height: 30px; text-decoration: none; font-size: 12px; color: #8c8c8c; }
.category a { color: #666666; }
.category a:hover { color: Red; }



.upcontainer { width: 1240px; margin: 30px 0px; padding: 0px; }

.upcontainer .left { width: 830px; height: 400px; margin: 0px; float: left; border-right: 1px solid #e0e0e0; }

.upcontainer .left .image { width: 700px; height: 400px; float: left; margin-left: 25px; text-align: center; }

.upcontainer .left .image .thumb { margin-top: 20px; }
.upcontainer .left .image .thumb a { border: 1px solid #f0f0f0; width: 50px; height: 50px; line-height: 50px; display: inline-block; cursor: pointer; }
.upcontainer .left .image .thumb a:hover { border: 1px solid #999; }

.upcontainer .left .image .thumb .select { border: 1px solid #999; }

.upcontainer .left .image .thumb a img { width: 50px; height: 50px; }


.upcontainer .left .prev { display: block; float: left; width: 40px; text-align: center; line-height: 400px; height: 400px; background-image: url(../image/prev1.png); background-position: center; background-repeat: no-repeat; cursor: pointer; }
.upcontainer .left .prev:hover { background-image: url(../image/prev2.png); background-color: #fefefe; }

.upcontainer .left .next { display: block; float: right; width: 40px; text-align: center; line-height: 400px; height: 400px; background-image: url(../image/next1.png); background-position: center; background-repeat: no-repeat; cursor: pointer; }
.upcontainer .left .next:hover { background-image: url(../image/next2.png); }

.upcontainer .right { width: 400px; height: 400px; margin: 0px; float: left; vertical-align: middle; }
.upcontainer .right .title { font-size: 24px; color: #333; font-weight: bold; line-height: 35px; margin-top: 70px; margin-left: 40px; display: block; height: 50px; }

.upcontainer .right .oldprice { font-size: 20px; color: #ccc; font-weight: bold; line-height: 35px; margin-left: 40px; display: block; height: 50px; text-decoration: line-through; }
.upcontainer .right .oldtip { font-size: 14px; color: #999; line-height: 35px; margin-left: 40px; display: block; height: 100px; width: 320px; }

.upcontainer .right .newprice { font-size: 20px; color: red; font-weight: bold; line-height: 35px; margin-left: 40px; display: inline-block; height: 50px; }

.upcontainer .right .hoverspan { font-size: 14px; color: red; margin-left: 30px; display: inline-block; height: 20px; line-height: 20px; display: inline-block; background-color: Red; color: White; padding: 3px 10px; }

.upcontainer .right .split { margin-left: 40px; border-bottom: 1px solid #e0e0e0; width: 80%; }

.upcontainer .right .buy { width: 100px; color: #fff; font-size: 14px; line-height: 40px; height: 40px; margin-left: 10px; display:inline-block; background-color: #ccc; text-align: center; margin-top: 30px; cursor: pointer; }

.upcontainer .right .buy:hover { background-color: #7D7D7D; }

.upcontainer .right .car { width: 150px; color: #fff; font-size: 14px; line-height: 40px; height: 40px; margin-left: 70px; display: inline-block; background-color: #FF4D4D; text-align: center; margin-top: 30px; cursor: pointer; }

.upcontainer .right .car:hover { background-color: #FF7A7A; }



.downcontainer { margin-top: 30px; float: left; width: 1240px; }
.downcontainer .box-hd { background-color: #fff; padding: 0; border-bottom: 1px solid #dfdfdf; margin-bottom: 30px; height: 50px; line-height: 50px; }
.downcontainer .box-hd ul li { list-style: none; font-size: 18px; font-weight: 400; line-height: 50px; float: right; width: 120px; line-height: 50px; vertical-align: middle; cursor: pointer; }
.downcontainer .box-hd ul li a { color: #333; text-decoration: none; }
.downcontainer .box-hd ul li a:hover { color: Red; }

.box h1, h2, h3, h4, h5, h6, h7 { font-size: 20px; font-weight: 400; color: #333; margin: 50px 0px 20px 0px; }
.box span, p { display: block; background-color: #fafafa; line-height: 50px; color: #666; font-size: 16px; padding-left: 30px;  margin:0px;}

.hovertop { left: 0px; z-index: 999; position: fixed; background-color: #fff; border-bottom: 1px solid #dfdfdf; width: 100%; text-align: center; top: -51px; }

.box-hd-top { padding: 0; height: 50px; width: 1240px; margin: auto; }

.box-hd-top ul li { list-style: none; font-size: 18px; font-weight: 400; line-height: 50px; float: right;  vertical-align: middle; cursor: pointer; }
.box-hd-top ul li a { color: #333; text-decoration: none;width: 150px; display:inline-block }
.box-hd-top ul li a:hover { color: Red; }

.box-hd-top ul li a.buy { width: 80px; color: #fff; font-size: 14px; height: 50px; display: block; background-color: #ccc; text-align: center; cursor: pointer; }
.box-hd-top ul li a.buy:hover { background-color: #7D7D7D; }

.box-hd-top ul li a.car { width: 100px; color: #fff; font-size: 14px; height: 50px; display: block; background-color: #FF4D4D; text-align: center; cursor: pointer; }
.box-hd-top ul li a.car:hover { background-color: #FF7A7A; }


.box-hd-top ul { margin: 0px; }

.top { position: fixed; right: 50px; bottom: 50px; width: 50px; height: 40px; line-height: 25px; padding-top: 20px; background: #777; color: #ccc; display: block; text-transform: uppercase; text-decoration: none; text-align: center; font-size: 14px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; display: block; }


.top:hover { color: #fff; }

.top:hover:before { border-bottom-color: #777; }



.top.hidden { opacity: 0; }

.top.hidden { display: none; }



.scrolldivheight { height: 10px; }
/* bottom  */



.site-footer { margin-top: 80px; color: #333; background: #fafafa; padding-bottom: 50px; }


.site-footer .footer-service { padding: 40px 0; border-bottom: 0px solid #dfdfdf; }
.site-footer .list-service { margin: 0; padding: 0; list-style-type: none; }

.site-footer .list-service li { float: left; width: 20%; text-align: center; }
.site-footer .list-service li a { display: block; font-size: 12px; color: #333; text-decoration: none; }

.site-footer .list-service li a strong { display: block; margin-top: 5px; font-size: 18px; font-weight: 400; color: #000; }

.site-footer .list-service li a .iconfont { font-size: 30px; color: #6d6d6d; }
.iconfont { font-family: "iconfont" !important; font-style: normal; }



.clear { clear: both; }

/*foot*/
.foot { left: 0; width: 100%; height: 54px; background: #868686; }
.foot_div { position: relative; max-width: 1240px; min-width: 1240px; height: 54px; margin: auto; background: #868686; }
.foot_l { position: relative; float: left; width: 420px; padding: 15px 0 15px 0px; color: #ddd; }
.foot_l a { display: inline-block; height: 24px; margin-left: 20px; padding-left: 32px; line-height: 24px; text-decoration: none; font-size: 12px; color: #bebebe; }
.foot_l a.a_taobao { background: url(../images/foot/ico_sina.png) left no-repeat; }
.foot_l a.a_sina { background: url(../images/foot/ico_sina.png) left no-repeat; }
.foot_l span.span_weixin { display: inline-block; height: 24px; margin-left: 20px; padding-left: 32px; line-height: 24px; color: #bebebe; background: url(../images/foot/ico_weixin.png) left no-repeat; cursor: pointer; }
.foot_l a.a_ewm { display: none; position: absolute; top: 1px; width: 83px; height: 83px; margin-left: 15px; padding-left: 0; }
.foot_l a.a_ewm.on { display: inline-block; }

.foot_r { float: right; position: relative; width: 340px; padding-left: 256px; line-height: 54px; text-align: right; font-size: 12px; color: #c6c6c6; }
.foot_r a { margin-right: 15px; text-decoration: none; color: #c6c6c6; }
.foot_r span.guanzihao { padding-right: 10px; }
.foot_r span.phone_line { display: block; position: absolute; /*left: 0; */ right: 340px; /*line-height: 60px;*/ height: 54px; overflow: hidden; }
.foot_r span.phone_num { display: block; position: absolute; top: 0; /*left: 58px;*/ right: 160px; height: 54px; line-height: 54px; font-size: 24px; font-weight: bolder; color: #b7b7b7; }

/* footer  end */



/*在线客服代码*/
.rides-cs { background-color: #777; position: fixed; top: 130px; right: 1px; _position: absolute; z-index: 999; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5333333', endColorstr='#E5333333'); height: 220px; overflow: hidden; }
.rides-cs a { color: #00A0E9; }
.rides-cs a:hover { color: #ff8100; text-decoration: none; }
.rides-cs .floatL { width: 36px; float: left; position: relative; z-index: 1; }
.rides-cs .floatL a { font-size: 0; text-indent: -999em; display: block; }
.rides-cs .floatR { width: 130px; float: left; padding: 5px; overflow: hidden; }
.rides-cs .floatR .cn { background: #F7F7F7; }
.rides-cs .cn h3 { font-size: 14px; color: #333; font-weight: 600; line-height: 24px; padding: 5px; margin: 5px; }
.rides-cs .cn ul { padding: 0 0 0 8px; margin: 0px; }
.rides-cs .cn ul li { line-height: 38px; height: 38px; border-bottom: solid 1px #E6E4E4; overflow: hidden; }
.rides-cs .cn ul li span { color: #777; }
.rides-cs .cn ul li img { vertical-align: middle; }
.rides-cs .btnOpen, .rides-cs .btnCtn { position: relative; z-index: 9; top: 0; left: 0; background-image: url(../image/shopnc.png); background-repeat: no-repeat; display: block; width: 20px; height: 146px; padding: 8px; }
.rides-cs .btnOpen { background-position: -410px 0; }
.rides-cs .btnCtn { background-position: -450px 0; }
.rides-cs ul li.top { border-bottom: solid #ACE5F9 1px; }
.rides-cs ul li.bot { border-bottom: none; }




.mainimg { height: 330px; max-width: 500px; }
