/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.pannel .menu { width: 200px; float: left; height: 600px; margin: 30px 0px 0px 0px; padding-top: 0px; }

.pannel .menu .nav { width: 200px; float: left; height: 400px; margin: 0px; padding: 5px; background-color: #fefefe; }

.pannel .menu .nav li { list-style: none; width: 150px; padding: 10px 0px 10px 20px; font-size: 1.2em; margin: 0px 0px 20px 0px; cursor: pointer; }

.pannel .menu .nav li.select { border-left: 1px solid #3d62ad; color: #3d62ad; background-color: #f6f6f6; }
.pannel .menu .nav li.select a { color: #3d62ad; }


.pannel .menu .nav li:hover { background-color: #f6f6f6; }

.pannel .menu .nav a { text-decoration: none; color: #333; }
.pannel .menu .nav a:hover { color: #3d62ad; }

.pannel .art { margin: 30px 0px 0px 40px; width: 1000px; float: left; padding: 0px; }


.pannel .art .title { color: #333; }
.pannel .art h3 { font-size: 1.6em; margin-top: 0em; margin-bottom: 0.6em; line-height: 1.35; font-weight: normal; }
.pannel .art p { font-size: 1.2em; line-height: 2em; }
.pannel .art h4 { font-size: 1.4em; margin-top: 1.2em; margin-bottom: 0.6em; line-height: 1.35; font-weight: normal; }


.pannel .art .smalltitle { font-size: 0.9em; color: #888; }
.pannel .art .hr { height: 1px; border: none; border-top: 1px solid #ccc; }
