<?xml version="1.0"?>
<configuration>


  <connectionStrings>
    <!--数据库连接串-->
    <!--<add name="SqlConnString" connectionString="Persist Security Info=true;Initial Catalog=MagnaCX11;Data Source=.;User ID=sa;Password=1"/>-->
    <!--<add name="SqlConnString" connectionString="Persist Security Info=true;Initial Catalog=MagnaDB;Data Source=.;User ID=sa;Password=1"/>-->
    <add name="SqlConnString" connectionString="Data Source=127.0.0.1;user id=sa;password=falcom123;database=MagnaDB;max pool size = 50;"/>
    <!--<add name="SqlConnString" connectionString="Data Source=.;user id=sa;password=1;database=MagnaDB;max pool size = 50;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="OperatorImgPath" value="E:\工作\Git\MagnaReleased\MGMES_Demo_Solution\website\UploadImages\OperatorImages"/>
    <add key="BomImgPath" value="C:\工作\Git\MagnaReleased\MGMES_Demo_Solution\website\UploadImages\BOMImages"/>
    <add key="StepImgPath" value="C:\工作\Git\MagnaReleased\MGMES_Demo_Solution\website\UploadImages\StepImages"/>

    <!--kepserver 版本-->
    <add key="KepServerVersion" value="KEPware.KEPServerEx.V4"/>
    <!--工位列表-->
    <add key="WorkStationStartPoint" value="1"/>
    <add key="WorkStationEndPoint" value="2"/>
    
    <add key="1" value="FS010-1"/>
    <add key="2" value="FS010-2"/>

    
    <!--PLC OPC tag -->

    <add key="TagStartPoint" value="1"/>
    <!--<add key="TagEndPoint" value ="11" />-->
    <add key="TagEndPoint" value="10"/>
    
    <add key="Channel" value="MG_MES"/>
    <add key="Device" value="PLC5"/>
    
    <add key="1" value="Alarm"/>
    <add key="2" value="Finish"/>
    <add key="3" value="Start"/>
    <add key="4" value="StepNumber"/>
    <add key="5" value="Product_VIN"/>
    <add key="6" value="Scan_Code_Gun"/>
    <add key="7" value="Torque_Angle"/>
    <add key="8" value="Torque_Value"/>
    <add key="9" value="MatchResult"/>
    <add key="10" value="TraceCode"/>
    <!--<add key="11" value="ODSNumber"/>-->
    <!--PLC OPC tag count-->


    <!--<add key="TagCount" value="11"/>-->
    <add key="TagCount" value="10"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
