<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--2017-5-15-->

<configuration>
  <system.web>


    <authentication mode="Forms">
      <forms loginUrl="/AdminLogin.aspx" defaultUrl="/AdminIndex.aspx" path="/" name="admin" timeout="240" />
    </authentication>
    <authorization>
      <deny users="?" />

    </authorization>

    <compilation debug="true" targetFramework="4.0" />
    <!--<customErrors mode="On" defaultRedirect="notfound.aspx">
      <error statusCode="404" redirect="notfound.aspx" />
    </customErrors>-->

    <!--        *******************   网站文件上传控制  *******************    -->
    <httpRuntime maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="6000" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" requestValidationMode="2.0" />
    <!--        *******************   全局UTF-8编码  *******************    -->
    <globalization fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8" />


    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
    <!--好了-->

  </system.web>
  <!--3-13-->

  <connectionStrings>
    <!--<add name="SqlConnString" connectionString="server=10.225.18.15;database=MagnaDB;uid=sa;pwd=a1+" />-->
    <add name="SqlConnString" connectionString="server=192.168.60.41;database=sa;uid=sa;pwd=Mes2016" />
  </connectionStrings>




  <location path="AdminIndex.aspx">
    <system.web>
      <pages enableViewState="true"></pages>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="image">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ueditor">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminMasterPage.master">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OpenXmlFormats" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>