<?xml version="1.0"?>
<configuration>


  <connectionStrings>
    <!--数据库连接串-->
    <!--<add name="SqlConnString" connectionString="Persist Security Info=true;Initial Catalog=MagnaCX11;Data Source=.;User ID=sa;Password=1"/>-->
    <!--<add name="SqlConnString" connectionString="Persist Security Info=true;Initial Catalog=MagnaDB;Data Source=.;User ID=sa;Password=1"/>-->
    <add name="SqlConnString" connectionString="Data Source=127.0.0.1;user id=sa;password=falcom123;database=MagnaDB;max pool size = 50;"/>
    <!--<add name="SqlConnString" connectionString="Data Source=.;user id=sa;password=1;database=MagnaDB;max pool size = 50;"/>-->
  </connectionStrings>
  <appSettings>
  
    <!--kepserver 版本-->
    <add key="KepServerVersion" value="KEPware.KEPServerEx.V4"/>
    <!--工位列表-->
    <add key="st_fs1" value="FS010-1"/>
    <!--<add key="st_fs2" value="FS010-2"/>-->
    <add key="st_fsb1" value="FSB010"/>
    <add key="st_fsc1" value="FSC010"/>
    <add key="st_rsb40" value="RSB4010"/>
    <add key="st_rsb60" value="RSB6010"/>
    <add key="st_rsc1" value="RSC010"/>

    <!--PLC OPC tag -->

    <add key="TagStartPoint" value="1"/>
    <!--<add key="TagEndPoint" value ="11" />-->
    <add key="TagEndPoint" value="22"/>
    <add key="Channel" value="MG_MES"/>
    <add key="Device_FS" value="FS"/>
    <add key="Device_FSB" value="FSB"/>
    <add key="Device_FSC" value="FSC"/>
    <add key="Device_RSB" value="RSB"/>
    <add key="Device_RSC" value="RSC"/>

    <add key="1" value="VIN_1"/>
    <add key="2" value="VIN_2"/>
    <add key="3" value="VIN_3"/>
    <add key="4" value="VIN_4"/>
    <add key="5" value="VIN_5"/>
    <add key="6" value="VIN_6"/>
    <add key="7" value="VIN_7"/>
    <add key="8" value="VIN_8"/>
    <add key="9" value="VIN_9"/>
    <add key="10" value="VIN_10"/>
    <add key="11" value="VIN_11"/>
    <add key="12" value="VIN_12"/>
    <add key="13" value="VIN_13"/>
    <add key="14" value="VIN_14"/>
    <add key="15" value="VIN_15"/>
    <add key="16" value="VIN_16"/>
    <add key="17" value="VIN_17"/>
    <add key="18" value="VIN_18"/>
    <add key="19" value="VIN_19"/>
    <add key="20" value="VIN_20"/>
    
    <add key="21" value="Product_VIN"/>
    <add key="22" value="Flag"/>

    <!--<add key="TagCount" value="11"/>-->
    <add key="TagCount" value="22"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
